
<h4>Inspiration: </h4>
<p>When I'm traveling with no
access to a gym and without a good/safe place to run, I scramble to improvise
some kind of workout.  It's usually the same boring mix of pushups, 
situps, lunges, and dips off the bed. Working out with the incredible folks at
    November Project
has shown me that you can get a solid workout without any equipment at all, especially
if you have some space, stuff you find in the park, and best of all a willing buddy.
With this tool, no more scrambling: a new workout is a couple clicks away. </p>

<h4>Using this tool: </h4>
<p><a href="index.php">Make a new workout:</a> pick what resources you have around you.
Leave the bottom-section defaults for a 15-20 minute workout, or play with the number
of sets and exercises per set. Hit submit, and you're off!
On your workout page, hover over exercise names to see a description, click thumbnails
    to see what it looks like. Some timing and counts are shown just as a placeholder-
    everybody's different, so choose whatever feels like a challenge for you. </p>

<p>For solo workouts, cycle through the exercises at your challenge level (1 minute each, 20 each, etc)
continuing for a 4 minute set, 8 minute set, enough to get comfortable with the exercises and really feel it!
If you're working out with a partner, you'll get pairs of exercises- sometimes working together and switching in 
the middle, sometimes one partner travelling to a point and back, while the other does a different
exercise on the spot (cheering partner to come back so they can switch!). Pick the distance/time/duration
together (e.g. to that tree and back) for what challenges you. </p>

<p>If you like workout you got, you can print it, facebook-share it, or email 
it to yourself.  If you you want something different, click the links at the bottom
of the page: get a new workout using the same stuff you selected before,
or search fresh to make a change. You can also browse the exercise 
list to see what's there so far,
and <a href="mailto:dianekaplan@gmail.com?Subject=Workout%20maker%20feedback">email me</a>
if you have questions or ideas to make the tool better!</p>

Enjoy! <br/>
Diane<br/>
<img alt="Workout Maker" float="right" src="img/with_pig.jpg" height = "200"/>

                  






