
<h4>Credits: </h4>
<li>
        <a href=http://november-project.com/" target="_blank">November Project</a> is a movement taking over the world
    (45 cities and counting), where people come together for free fitness, hugs, and accountability.
    Workouts are Mondays, Wednesdays, and Fridays
    at 6:30am, and the Monday 'Destination Deck' workouts include exercises like these here. Those workouts
    have shown me how effective bodyweight cardio can be, so there's always a workout to be done on the road, even when
    you don't have gym access or a running route. (And along with the inspiration, the pictures are from our Monday workouts,
    with permission from the folks working out in them).
</li>
<li>Our stick figures doing Bojans is used with permission from Edmonton's <a href="http://www.seanwilliamsphotography.com/" target="_blank">
        Sean Williams</a>, see some of his awesome work <a href="http://seanings.com/" target="_blank">here. </a> </li>


                  






