
<h4>Disclaimer: </h4>

<p>WAIVER, RELEASE OF LIABILITY AND ASSUMPTION OF RISK
TO BE READ AND ACKNOWLEDGED BY EVERY PARTICIPANT
DISCLAIMER:</p>

<p>
npworkoutmaker.com is NOT responsible for any injury, including death, to any person participating in these workouts.
In consideration of my acceptance and my participation in these workouts, I hereby release and covenant not to sue
npworkoutmaker.com or Diane Kaplan, for any and all present and future claims resulting from ordinary negligence and
inherent risk during workouts, including but not limited to, any loss, injury, damage, or liability sustained by me.</p>

<p>I understand that the reaction of the heart, lung and blood vessel system to exercise cannot always be predicted with accuracy. I know and
understand there is a risk of certain abnormal changes which may occur during or following exercise, including, but not limited to,
abnormalities of blood pressure and heart attacks. Performance of exercises may lead to muscle skeletal strains, pain and/or injury,
if adequate warm-up, gradual progression and safety procedures are not followed. I understand that npworkoutmaker.com
and Diane Kaplan shall not be liable for any damages arising from personal injuries sustained by me while participating
in and during participation of these workouts. I understand and warrant, release and agree that I am in good physical
condition and that I have no disabilities,
impairments or ailments that would prevent me from engaging in active or passive exercise that could be detrimental or
inimical to heart,
safety and/or comfort or physical condition while I engage or participate in these exercises. I have had a
recent physical
check-up and have a medical physician's permission to
engage in aerobic and/or anaerobic activities. I hereby agree to release, discharge and hold harmless npworkoutmaker.com
and Diane Kaplan from all causes, liabilities, damages, claims or demands whatsoever on account of any injury or accident involving
myself arising out of my participation in these workouts.</p>

<p>I acknowledge that physical exercise can be dangerous and involve risk of serious injury, paralysis and/or death.
    I hereby acknowledge and
agree to assume responsibility for all the risks, whether identified herein or not, even those risks arising out of
    negligence of the releasee.
My participation is purely voluntary. I assume full responsibility for myself for any bodily injury.</p>


I HAVE READ THE FOREGOING INFORMATION AND UNDERSTAND THE WAIVER, RELEASE OF LIABILITY AND ASSUMPTION OF RISK DOCUMENT.
I FULLY UNDERSTAND THAT I HAVE GIVEN-UP SUBSTANTIAL RIGHTS BY ACKNOWLEDGING THIS WAIVER, RELEASE OF LIABILITY AND
ASSUMPTION OF RISK DOCUMENT AND I HEREBY ACKNOWLEDGE IT VOLUNTARILY.
                  






